<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/footer.css">
</head>

<div class="footer">
    <div id="leftFooter">
        <h3>Skole</h3>
        <p>
            Torget 10A </br>
            3256 </br>
            Larvik </br></br>
            +47 454 85 922</br>
            Org. nr: 918 020 667
        </p>
    </div>
    
    <div id="middleFooter">
        <h3>Konsulentbyrå</h3>
        <p>
            Torget 10B </br>
            (2. Etasje)</br>
            3256 </br>
            Larvik </br></br>
            +47 911 56 654</br>
            Org. nr: 921 633 963
        </p>
    </div>

    <div id="middleRightFooter" style="width: 30%;">
    </div>

    <div id="rightFooter">
        <a id="linkLight1" href="{{site.baseurl}}/kontakt.html">
            Kontakt
        </a>
        <a id="linkLight1" href="{{site.baseurl}}/personvern.html">
            Personvern
        </a>
        <a href="https://www.facebook.com/getacademy.no/?jazoest=265100119108891226999111881175610811083106901119771531058510266727249457472791157457577181651209595117881071035865100121975070791015083511136610467577374109109535445714574517470100481177511911310048714574541128011285103">
            <img class="fb" src="{{site.baseurl}}/assets/images/facebook.png"/>
        </a>
    </div>
</div>