<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div id="header" class="header">
    <div class="logo">
        <a href="{{site.baseurl}}/index.html">
            <img src="{{site.baseurl}}/assets/images/GetAcademy2_4_2.png" style="width: 12rem; margin: 1rem 0 1rem 6rem;" />
        </a>
    </div>
    <div class="links">

        {% if page.url == '/sok.html' %}
        <a class="active" id="linkDark" href="{{site.baseurl}}/sok.html">Søk nå!</a>
        {% else %}
        <a id="linkDark" href="{{site.baseurl}}/sok.html">
            Søk nå!
        </a>
        {% endif %}

        <div class="dropdown">
            <a {% if page.url=='/sok.html' or page.url=='/studieprogram.html' or page.url=='/praktiskInfo.html' or page.url=='/skole/2018/12/03/gratismateriale.html' %} class="active" {% endif %} id="linkDark" href="{{site.baseurl}}/1skole.html">
                Skole
            </a>
            <div class="dropdown-content">
                <a {% if page.url=='/sok.html' %} class="active" {% endif %} href="{{site.baseurl}}/sok.html">Søknadsskjema</a>
                <a {% if page.url=='/studieprogram.html' %} class="active" {% endif %} href="{{site.baseurl}}/studieprogram.html">Studieprogram</a>
                <a {% if page.url=='/praktiskInfo.html' %} class="active" {% endif %} href="{{site.baseurl}}/praktiskInfo.html">Praktisk info</a>
                <a {% if page.url=='/gratismateriale.html' %} class="active" {% endif %} href="http://localhost:4000/skole/2018/12/03/gratismateriale.html">Gratisleksjoner</a>
            </div>
        </div>
        <a id="linkDark" href="{{site.baseurl}}/2konsulentbyraa">
            Konsulentbyrå
        </a>


        <div class="dropdown">
            <a {% if page.url=='/3about.html' or page.url=='/historie.html' or page.url=='/Folk.html' %} class="active" {% endif %} id="linkDark" href="{{site.baseurl}}/3about.html">
                Om oss
            </a>
            <div class="dropdown-content">
                <a {% if page.url=='/Folk.html' %} class="active"  {% endif %} href="{{site.baseurl}}/Folk.html">
                    Folk
                </a>
                <a {% if page.url=='/historie.html' %} class="active" {% endif %} href="{{site.baseurl}}/historie.html">
                    Historie
                </a>
            </div>
        </div>


        <div class="dropdown">
            <a {% if page.url=='/4nyheter.html' or page.url=='/arrangementer.html' or page.url=='/kommendeArrangement.html' %} class="active" {% endif %} id="linkDark"
                href="{{site.baseurl}}/4nyheter.html">
                Nyheter
            </a>
            <div class="dropdown-content">
                <a {% if page.url=='/arrangementer.html' or page.url=='/kommendeArrangement.html' %} class="active" {% endif %}
                 href="{{site.baseurl}}/arrangementer.html">Arrangementer</a>
            </div>
        </div>
        <a {% if page.url=='/kontakt.html' %} class="active" {% endif %} id="linkDark" href="{{site.baseurl}}/kontakt.html">
            Kontakt
        </a>

        <!-- DYNAMIC MENU LIST -->

        <!-- {% assign sorted-links = site.html_pages | where:"categories","include" %}
        {% for p in sorted-links %}
        {% if page.url == p.url %}
        <a class="active" id="linkDark" href="{{site.baseurl}}{{ p.url }}">
            {{p.page-name}}
        </a>
        {% else %}
        <a id="linkDark" href="{{site.baseurl}}{{ p.url }}">
            {{p.page-name}}
        </a>
        {% endif %}
        {% endfor %} -->
    </div>

    <!-- DROPDOWN MENU -->

    <!-- <div class="dropdown" id="select">
        <div>
            <i class="fas fa-bars"></i>
        </div>
        <div class="dropdown-content">
            <a href="{{site.baseurl}}/sok.html">Søk nå!</a>
            <div class="dropdown1" style="color: white;">
                - Skole
                <div class="dropdown-content1" style="left: -1rem !important; background: #ff8400;">
                    <a href="{{site.baseurl}}/1skole.html" style="color: #fff">Skole</a>
                    <a href="{{site.baseurl}}/sok.html" style="color: #fff">Søknadsskjema</a>
                    <a href="{{site.baseurl}}/studieprogram.html" style="color: #fff">Studieprogram</a>
                    <a href="{{site.baseurl}}/praktiskInfo.html" style="color: #fff">Praktisk info</a>
                    <a href="http://localhost:4000/skole/2018/12/03/gratismateriale.html" style="color: #fff">Gratisleksjoner</a>
                </div>
            </div>
            
            <a href="{{site.baseurl}}/2konsulentbyraa">Konsulentbyrå</a>
            <div class="dropdown1" style="color: white;">
                - Om oss
                <div class="dropdown-content1" style="left: -1rem !important; background: #ff8400;">
                    <a href="{{site.baseurl}}/3about.html" style="color: #fff">Om oss</a>
                    <a href="{{site.baseurl}}/folk.html" style="color: #fff">Folk</a>
                    <a href="{{site.baseurl}}/historie.html" style="color: #fff">Historie</a>
                </div>
            </div>
            <a href="{{site.baseurl}}/4nyheter.html">Nyheter</a>
            <a href="{{site.baseurl}}/kontakt.html">Kontakt</a>
        </div>
    </div> -->



    <!-- PHONE MENU -->
    <span id="icon" onclick="openNav()">
        <i class="fas fa-bars"></i>
    </span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a {% if page.url=='/sok.html' %} class="active" {% endif %} href="{{site.baseurl}}/sok.html">Søk nå!</a>

        <a {% if page.url=='/1skole.html' %} class="active" {% endif %} href="{{site.baseurl}}/1skole.html">Skole</a>
        <button class="dropdown-btn">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a {% if page.url=='/sok.html' %} class="active" {% endif %} href="{{site.baseurl}}/sok.html">Søknadsskjema</a>
            <a {% if page.url=='/studieprogram.html' %} class="active" {% endif %} href="{{site.baseurl}}/studieprogram.html">Studieprogram</a>
            <a {% if page.url=='/praktiskInfo.html' %} class="active" {% endif %} href="{{site.baseurl}}/praktiskInfo.html">Praktisk
                info</a>
            <a {% if page.url=='/skole/2018/12/03/gratismateriale.html' %} class="active" {% endif %} href="http://localhost:4000/skole/2018/12/03/gratismateriale.html">Gratisleksjoner</a>
        </div>
        <a href="{{site.baseurl}}/2konsulentbyraa">Konsulentbyrå</a>

        <a {% if page.url=='/3about.html' %} class="active" {% endif %} href="{{site.baseurl}}/3about.html">Om oss</a>
        <button class="dropdown-btn">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a {% if page.url=='/folk.html' %} class="active" {% endif %} href="{{site.baseurl}}/folk.html">Folk</a>
            <a {% if page.url=='/historie.html' %} class="active" {% endif %} href="{{site.baseurl}}/historie.html">Historie</a>
        </div>

        <a {% if page.url=='/4nyheter.html' or page.url=='/arrangementer.html' or page.url=='/kommendeArrangement.html' %} class="active" {% endif %} href="{{site.baseurl}}/4nyheter.html">
            Nyheter
        </a>
        <button class="dropdown-btn">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a {% if page.url=='/arrangementer.html' or page.url=='/kommendeArrangement.html' %} class="active" {% endif %}
             href="{{site.baseurl}}/arrangementer.html">Arrangementer</a>
        </div>

        <a {% if page.url=='/kontakt.html' %} class="active" {% endif %} href="{{site.baseurl}}/kontakt.html">Kontakt</a>
    </div>

    <!-- <div class="empty">
    </div> -->

</div>

<script>

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }



    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
