<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/headerBackground.css">
</head>

<div class="bgi tint" style="background-image: url({{site.baseurl}}/{{page.topImage}});">
    <div id="header" class="header">

        <div class="logo">
            <a href="{{site.baseurl}}/index.html">
                <img src="{{site.baseurl}}/assets/images/GetAcademyLogo_DarkBlue.png" style="width: 20rem; margin-left: 5rem; margin-top: 1rem;" />
            </a>
        </div>
        <div class="links">
            {% assign sorted-links = site.html_pages | where:"categories","include" %}
            {% for p in sorted-links %}
            {% if page.url == p.url %}
            <a class="active" id="linkLight" href="{{site.baseurl}}{{ p.url }}">
                {{p.page-name}}
            </a>
            {% else %}
            <a id="linkLight" href="{{site.baseurl}}{{ p.url }}">
                {{p.page-name}}
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="headerInfo">
            <h1>{{page.title}}</h1>
            {% if page.sok == "include" %}
            <a class="linkLight" href="{{site.baseurl}}/sok.html" style="text-decoration: none; margin: auto;">
                <div class="Søk" class="linkLight">
                    <p>Søk Nå!</p>
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>