---
---

@charset "UTF-8";

.aboutPage
{
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 10rem 5rem 10rem;
}
.aboutPage a
{
    color: #ff8400;
    text-decoration: none;
}
.aboutPage a:hover
{
    color: #ff8400;
    text-decoration: underline;
}
.main
{
    margin: auto;
    padding: 0 10rem 0 10rem;
}
.ansatte
{
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 10rem 0 10rem;
}
.ansatte h2
{
    text-align: center;
}
.ansatte div
{
    width: 15rem;
    margin: 2rem;
}
.ansatte div img
{
    width: 15rem;
    height: 17rem;
}
h1
{
    text-align: center;
}


a#linkOrange
{
    color: #ff8400;
}

.active#linkOrange
{
    text-decoration: underline;
}

$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#linkOrange{
  position: relative;
  text-decoration: none;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 2px;
        background-color: #ff8400;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}