---
---

@charset "UTF-8";

#leftFooter
{
    width: 25%;
    margin: 5rem 0 0 10rem;    
    text-align: left;    
}
#middleFooter
{
    width: 25%;   
    margin: 5rem 0 0 0;
    text-align: left;
}
#rightFooter
{
    margin: 5rem 10rem 0 10rem;
    text-align: right;
    display: flex;
    width: 20%;
    flex-direction: column;    
}
#rightFooter a
{
    align-self: flex-start;
}

div.footer
{
    grid-area: footer;
    height: 35rem;
    // text-align: center;
    font-size: 1.2rem;
    color: #a3a3a3;
    background-color: #101a31;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
}

.fb
{
    width: 3rem; 
    margin-top: 2rem;
}
.fb:hover
{
    filter: brightness(150%);
}

$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#linkLight1
{
    position: relative;
    text-decoration: none;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: normal;
  
     &:before,
      &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0; right: 0;
          height: 2px;
          background-color: #fff;
      }
      &:before {
          opacity: 0;
          transform: translateY(- $distance);
          transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
          opacity: 0;
          transform: translateY($distance/1);
          transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
          &:before,
          &:after {
              opacity: 1;
              transform: translateY(0);
          }
          &:before {
              transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
              transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
          }
      }
  }