---
---

@charset "UTF-8";

body
{
    margin: 0;
    padding: 0;
}
div.header
{
    user-select: none;
    grid-area: header;
    overflow: hidden;
    display: flex;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.logo
{
    z-index: 2;
    flex-grow: 1;
    margin: 0 0 5rem 0;
}
.links
{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
    flex-direction: row;
}
a#linkDark
{
    color: #101a31;
    font-size: 1.2rem;
    margin: 2rem 1rem 2rem 1rem;    
    text-transform: uppercase;
}

.active#linkDark
{
    text-decoration: underline;
}

$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#linkDark{
  position: relative;
  text-decoration: none;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 2px;
        background-color: #101a31;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}


  
.dropdown 
{
    margin: 2rem 1rem 2rem 1rem;
    padding: 0;
}
.dropdown .icon:after
{
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    font-style: normal;
}
.dropdown-content 
{
    padding: 1rem 0 1rem 0;
    //display: none;

    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out 0s, 
    visibility 0s linear 0.3s, z-index 0s linear 0.01s;

    position: absolute;
    min-width: 160px;
    z-index: 1;
    background: #101a31bf;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
}
  
.dropdown-content a 
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    text-decoration: underline;
}

.dropdown:hover .dropdown-content 
{
    // display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}
.dropdown:hover .icon:after
{
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    font-style: normal;
}