---
---

@charset "UTF-8";


body
{
    margin: 0;
    padding: 0;
}
div.header
{
    user-select: none;
    grid-area: header;
    overflow: hidden;
    display: flex;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.søk
{
    background: #162342;
    width: 15rem;
    height: 5rem;
    margin: auto;
    display: flex;
}
.søk:hover
{
    background: linear-gradient(#274281, #162342);
}
.søk p
{
    margin: auto;
    color: white;    
}
div.bgi
{   
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
div.tint
{
    background-color: #ff8400;
    background-blend-mode: multiply;
}
.headerInfo
{
    // align-self: flex-end; 
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: white;
    margin: auto;
    font-size: 2rem;
    width: 100%; 
}

div.logo
{
    z-index: 2;
    flex-grow: 1;
    margin: 0 0 5rem 0;
}

@media  only screen and (max-width: 800px)
{
    div.header
    {
        user-select: none;
        grid-area: header;
        overflow: hidden;
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .links
    {
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
    }
    .søk
    {
        display: none;
    }
}

.links
{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
    flex-direction: row;
}
a#linkLight
{
    color: #ffffff;
    font-size: 1.2rem;
    margin: 2rem;
    text-transform: uppercase;
}

.active#linkLight
{
    text-decoration: underline;
}

$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#linkLight{
  position: relative;
  text-decoration: none;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 2px;
        background-color: #ffffff;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}