---
---

@charset "UTF-8";


body
{
    margin: 0;
    padding: 0;
}
.header
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto, 1);
    grid-template-areas: 'logo links';
    height: fit-content;
    background: white;
}
.headerInfo h1
{
    padding-top: 5rem;
    font-size: 5rem;
}
.søk
{
    background: #101a31;
    width: 15rem;
    height: 5rem;
    margin: auto;
    display: flex;
}
.søk:hover
{
    background: linear-gradient(#274281, #162342);
}
.søk p
{
    margin: auto;
    color: white;    
}
div.bgi
{   
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
// div.tint
// {
//     background-color: #ff8b0e;
//     background-blend-mode: multiply;
// }
.headerInfo
{
    // align-self: flex-end; 
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: white;
    margin: auto;
    padding: 8rem 0 0 0;
    font-size: 2rem;
    width: 100%; 
}

div.logo
{
    z-index: 2;
}


.links
{
    grid-area: links;
    display: flex;    
    flex-direction: row;
    padding: 0 0 0 10rem;
    margin: auto;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
}
.underlinks
{
    display: grid;    
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto, 2);
    grid-template-areas: 'logo links'
                         'empty underlink';
    height: fit-content;
    background: white;
    padding-bottom: 1rem;
}
.underlink
{
    grid-area: underlink;
    margin: auto;
    margin-right: 10.7rem;
    padding: 0 0 0 10rem;    
}
a#linkDark
{
    color: #101a31;
    font-size: 1.5rem;
    margin: 2rem 1rem 2rem 1rem;
    //text-transform: uppercase;
}

.active
{
    text-decoration: underline !important;
}

$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#linkDark{
  position: relative;
  text-decoration: none;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 2px;
        background-color: #101a31;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}

a#linkLight
{
    color: #fff;
    font-size: 1.5rem;
    margin: 2rem 1rem 2rem 1rem;
    //text-transform: uppercase;
}

$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#linkLight{
  position: relative;
  text-decoration: none;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 2px;
        background-color: #fff;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}


  
.dropdown 
{
    margin: 2rem 1rem 2rem 1rem;
    padding: 0;
}
.dropdown .icon:after
{
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    font-style: normal;
}
  
  .dropdown-content 
  {
    padding: 1rem 0 1rem 0;
    // display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out 0s, 
    visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background: #101a31ee;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
  }  
  .dropdown-content a 
  {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover 
{
    text-decoration: underline;
}
.dropdown:hover .dropdown-content 
{
    // display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.sidenav
{
    display: none;
}
#icon
{
    display: none;
    font-size:30px;
    cursor:pointer;
    margin: 2rem;
}


@media screen and (max-width: 1024px)
{
    #icon
    {
        display: inline;
        color: #101a31;
    }
    .søk
    {
        display: none !important;
    }
    .bgi
    {
        background-position: top !important;
        background-size: 120vw !important;   
    }
    div.header
    {
        height: auto !important;
        grid-area: header;
        overflow: hidden;
        display: flex;
        align-content: flex-start !important;
        align-items: flex-start;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .headerInfo
    {
        display: none !important;
    }
    .logo
    {
        margin: 0 !important;
    }
    .logo img
    {
        flex-grow: 0 !important;
        margin: 1rem !important;
        width: 10rem !important;
    }
    .links
    {
        display: none !important;
    }    
    #select
    {
        display: inline-block !important;
        margin: auto;
        color: #fff;
        padding: 0 2rem 0 0;
    }
    .dropdown-content 
    {
      background: #101a31ea;
      left: 10rem !important;
    }  
    .dropdown-content a
    {
        color: white;
    }

    .sidenav 
    {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #101a31;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }
    
    .sidenav a, .dropdown-btn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    
    }
    
    .sidenav a:hover{
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    
    .dropdown-container 
    {
        display: none;
        background-color: #1f315e;
        padding-left: 8px;
    }
    .dropdown-btn {
        padding: 6px 8px 6px 32px;
        text-decoration: none;
        text-align: center;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        cursor: pointer;
        outline: none;
    }
    .sidenav a, .sidenav button
    {
        color: #d3d3d3;
    }
}