---
---

@charset "UTF-8";

.grid
{
    display: grid;
    grid-template-rows: repeat(auto, 4);
    grid-template-columns: 1fr;
    padding: 5rem 0 0 0;
}

.tjenester
{
    //background-color: #d3ae7d;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10rem 0 10rem;
}
.tjenester div
{
    padding: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
.tjenester h2
{
    margin: 0;
}

.tjenester p
{
    text-align: center;
}

.empty
{    
    margin: auto;
    margin-bottom: 10rem;
    padding: 0 10rem 0 10rem;
    display: flex;
    flex-direction: column;
    // width: 100%;
    // background-image: url("images/desk.jpeg");
    // overflow: hidden;
    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center;
}
.empty h4
{
    padding: 0 10rem 0 10rem;
    margin: 5rem 0 0 0;
}
.empty p
{
    padding: 0 10rem 0 10rem;
    margin: 1rem 0 0 0;
}
.empty img
{
    margin: 2rem 0 2rem 0;
    width: fit-content;
}

.prosjekter
{
    //background-color: #916327;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prosjekter .prosjektBox
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.prosjekterContainer
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 5rem 0 5rem;
}
.textbox
{
    background-color: #a3a3a3;
    display: flex;
    //padding: 6rem;
    font-size: 3rem;
    color: #101a31;
    margin: 5rem 0 0 0;
}
.textbox p
{
    margin: auto;
    padding: 15rem 0 15rem 0;
}

.prosjektBox
{
    color: #101a31;
    height: 30rem;
    width: 25rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}
.prosjektImage
{
    width: 25rem;
    height: 15rem;
    background-size: cover;
    filter: contrast(80%);
    transition: filter 1500ms linear;
}
.prosjektBox:hover .prosjektImage
{
    filter: contrast(120%);
    transition: filter 1500ms linear;
}
.innerProsjektBox h2
{
    margin: 1rem 0 0 0;
}



$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

a#link{
  position: relative;
  text-decoration: none;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: #101a31;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}