---
---

@charset "UTF-8";

.grid
{
    // display: grid;
    // grid-template-rows: repeat(auto, 4);
    // grid-template-columns: 1fr;
    padding: 5rem 0 0 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#viLeverer
{
    margin: auto; 
    padding-top: 5rem;
}
#ingress
{
    margin: auto; 
    padding: 5rem 25rem 0 25rem; 
    font-size: 2rem; 
    text-align: center;
}
.tjenester
{
    //background-color: #d3ae7d;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    margin: 5rem 10rem 0 10rem;
}
.tjenesteBoks
{
    padding: 2rem;
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tjenesteBoks h2
{
    margin: 0;
}

.tjenesteBoks p
{
    text-align: center;
}


.grid2
{    
    margin: 5rem 20rem 5rem 20rem;
    display: grid;
    grid-template-rows: repeat(auto, 2);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'textLeft imageRight'
                         'imageLeft textRight';
}
.textLeft
{
    grid-area: textLeft;    
    margin: 5rem 2rem 5rem 0;
}
.textLeft div
{
    display: flex;
    flex-direction: column;
}
.textLeft p
{
    color: #101a31;
    margin: 0;
}
.textLeft h2
{
    margin: 0;
    margin-bottom: 2rem;    
    align-self: flex-start;
}
.imageRight
{
    grid-area: imageRight;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 25rem;
    margin: 5rem 0 5rem 2rem;
}
.imageRight img 
{
    width: 100%;
}

.textRight
{
    grid-area: textRight;    
    margin: 5rem 0 5rem 2rem;
}
.textRight div
{
    display: flex;
    flex-direction: column;
}
.textRight p
{
    color: #101a31;
    margin: 0;
}
.textRight h2
{
    margin: 0;
    margin-bottom: 2rem;    
    align-self: flex-start;
}
.imageLeft
{
    grid-area: imageLeft;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 25rem;
    margin: 5rem 2rem 5rem 0;
}
.imageLeft img 
{
    height: 100%;
}


.prosjekter
{
    //background-color: #916327;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prosjekter h1
{
    margin: 10rem 0 0 0;
}
.prosjekter .prosjektBox
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.prosjekterContainer
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 0 2rem 0;
    padding: 0 5rem 0 5rem;
}
.textbox
{
    background-color: #1d2d53;
    display: flex;
    //padding: 6rem;
    font-size: 3rem;
    color: #101a31;
    margin: 5rem 0 0 0;
}
.textbox p
{
    margin: auto;
    padding: 15rem 0 15rem 0;
}

.prosjektBox
{
    color: #101a31;
    height: 30rem;
    width: 25rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}
.prosjektImage
{
    width: 25rem;
    height: 15rem;
    background-size: cover;
    filter: contrast(80%);
    transition: filter 1500ms linear;
}
.prosjektBox:hover .prosjektImage
{
    filter: contrast(120%);
    transition: filter 1500ms linear;
}
.innerProsjektBox h2
{
    margin: 1rem 0 0 0;    
}
.innerProsjektBox
{
    display: flex;
    flex-direction: column;
}

#linkDark1
{
    color: #101a31;
}
#linkDark1 h2
{
    align-self: flex-start;
    font-size: 2rem;
}


$duration: .2s;
$distance: 20px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

#linkDark1 h2
{
  position: relative;
  text-decoration: none;

   &:before,
    &:after 
    {
        content: '';
        position: absolute;
        bottom: -2;
        left: 0; right: 0;
        height: 2px;
        background-color: #101a31;
    }
    &:before 
    {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after 
    {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
}
#linkDark1:hover h2,
#linkDark1:focus h2
{
    &:before,
    &:after 
    {
        opacity: 1;
        transform: translateY(0);
    }
    &:before
    {
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after 
    {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
}
#linkDark2
{
    text-decoration: none;
    color: #101a31;
}
#linkDark2 h2
{
  position: relative;

   &:before,
    &:after 
    {
        content: '';
        position: absolute;
        bottom: -2;
        left: 0; right: 0;
        height: 2px;
        background-color: #101a31;
    }
    &:before 
    {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after 
    {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
}
#linkDark2:hover h2,
#linkDark2:focus h2
{
    &:before,
    &:after 
    {
        opacity: 1;
        transform: translateY(0);
    }
    &:before
    {
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after 
    {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
}

@media screen and (max-width: 1024px)
{
    .grid2
    {        
        display: grid;
        grid-template-rows: repeat(auto, 4) !important;
        grid-template-columns: 1fr;
        grid-template-areas: 'textLeft'
                            'imageRight'                            
                            'textRight'
                            'imageLeft';
        width: 100vw !important;
        margin: 0;
    }
    .textLeft
    {
        padding: 2rem;
    }
    .textRight
    {
        padding: 2rem;
    }
    .imageLeft img
    {
        width: 100vw !important;
        margin: 0;        
    }
    .imageRight
    {
        margin: 0 !important;
    }
    .imageLeft
    {
        margin: 0 !important;
    }
    .imageRight img
    {
        width: 100vw !important;
        margin: 0;
        
    }
    .textLeft
    {
        margin: 5rem 0 0 0;
    }
    .textRight
    {
        margin: 5rem 0 0 0;
    }
    .grid
    {
        width: 100vw !important;
    }
    #viLeverer
    {
        text-align: center;
        font-size: 2rem;
    }
    #ingress
    {
        margin: auto; 
        padding: 5rem 2rem 0 2rem; 
        font-size: 1rem; 
        text-align: center;
    }
    .tjenesteBoks
    {
        margin: 2rem 0 2rem 0;
        padding: 1rem;
        font-size: 1rem;
        height: fit-content;
    }
    .tjenesteBoks h2
    {
        font-size: 1.5rem;
    }
    .empty
    {
        margin: 0;        
        padding: 0;
        flex-direction: column;
        font-size: 1rem;
    }
    .empty p, .empty h3
    {
        margin: 2rem 2rem 2rem 2rem;
    }
    .empty img 
    {
        width: 100vw !important;        
    }
    .prosjekter
    {
        width: 100vw !important;
    }
    .prosjekterContainer
    {
        width: 100vw !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .prosjekter h1
    {
        font-size: 2.5rem;
        text-align: center;
    }
    .prosjektBox
    {
        width: 15rem;
    }
    .prosjektBox
    {
        text-align: center;
    }
    .prosjektImage
    {
        width: 15rem;
        background-position: center;
    }
    .textbox
    {
        font-size: 1.5rem;
        padding: 0 2rem 0 2rem;
        text-align: center;
    }
    .textbox p 
    {
        margin: 2rem;
        padding: 0;
    }
}