---
---

@charset "UTF-8";

body
{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: helvetica;
    line-height: 1.3;
    color:#101a31;
}

.nyheterGrid
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsBox
{    
    width: 24.5rem;
    //background: #d6d6d6;
    height: 30rem;      
    margin: auto;
    display: flex;
    align-content: center;
    align-items: stretch;
    overflow: hidden;
    color: #101a31;
}
.innerNewsBox
{
    margin: auto; 
    //background-color: #000000d2; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    width: 100%;
    height: 100%;
    display: flex;    
    flex-direction: column;
}
.innerNewsBox h2
{
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    align-self: flex-start;
}
.newsImage
{    
    align-self: flex-start;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow: hidden;
    width: 100%;
    height: 12rem;
    filter: contrast(80%);
    //background-blend-mode: multiply;
    transition: filter 1000ms linear;
}
.newsBox:hover .newsImage
{    
    transition: filter 1000ms linear;
    filter: contrast(120%);
    // background-color: #fff;
}
a#linkDark1
{
    color: #101a31;
    font-size: 1.2rem;
    margin: 1rem;    
    text-transform: uppercase;
    text-decoration: none;
    // text-transform: none;
}


$duration: .2s;
$distance: 10px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.475);

#linkDark1 h2
{
  position: relative;
  text-decoration: none;

   &:before,
    &:after 
    {
        content: '';
        position: absolute;
        bottom: -2;
        left: 0; right: 0;
        height: 2px;
        background-color: #101a31;
    }
    &:before 
    {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after
    {
        opacity: 0;
        transform: translateY($distance/1);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
}
#linkDark1:hover h2,
#linkDark1:focus h2
{
    &:before,
    &:after 
    {
        opacity: 1;
        transform: translateY(0);
    }
    &:before
    {
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after 
    {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
}


#nyhetContainer
{
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;     
    padding: 5rem 7rem 5rem 7rem; 
    max-width: 85rem;
}
#title h1
{
    margin: auto; 
    padding: 5rem 0 1rem 0;
}
@media screen and (max-width: 1024px) 
{
    .nyheterGrid
    {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    #nyhetContainer
    {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    #nyhetContainer a
    {
        width: 100% !important;
        text-align: center !important;
        clear: both !important;
        margin: auto !important;
    }
    .newsBox
    {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .innerNewsBox
    {
        width: 100% !important;
        padding: 0 !important;
        margin: auto !important;
        text-align: center !important;
        padding: 0 2rem 0 2rem !important;
    }
    .innerNewsBox h2
    {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }
    #title
    {
        width: 100% !important;
        font-size: 1rem !important;
        padding: 2rem 0 2rem 0 !important;
        text-align: center !important;
        margin: auto !important;
    }
    #title h1 
    {
        width: 80% !important;
        margin: auto !important;
        padding: 0 0 2rem 0 !important;
    }
}