---
---

@charset "UTF-8";

.skolePageGrid
{
    display: grid;
    grid-template-rows: repeat(auto, 7);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'textLeft imageRight'
                         'imageLeft textRight'
                         'longBox longBox'
                         'partnere partnere'
                         'textLeft1 imageRight1'
                         'imageLeft1 textRight1'
                         'longBox1 longBox1';
}
.textLeft
{
    margin: 5rem 2rem 5rem 10rem;
    text-align: right;
    grid-area: textLeft;    
}
.textLeft div
{
    display: flex;
    flex-direction: column;
}
.textLeft p
{
    color: #101a31;
    margin: 0;
}
.textLeft h2
{
    text-align: right;
    margin: 0;
    margin-bottom: 2rem;    
    align-self: flex-end;
}
.imageRight
{
    grid-area: imageRight;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 5rem 10rem 5rem 2rem;
}
.textLeft1
{
    margin: 5rem 2rem 5rem 10rem;
    grid-area: textLeft1;
    text-align: right;
}
.textLeft1 div
{
    display: flex;
    flex-direction: column;
}
.textLeft1 p
{
    color: #101a31;
    margin: 0;
}
.textLeft1 h2
{
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    align-self: flex-end;
    
}
.imageRight1
{
    grid-area: imageRight1;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 5rem 10rem 5rem 2rem;
}
.textRight
{
    margin: 5rem 10rem 5rem 2rem;
    grid-area: textRight;
}
.textRight div
{
    display: flex;
    flex-direction: column;
}
.textRight p
{
    color: #101a31;
    margin: 0;
}
.textRight h2
{
    
    margin: 0;
    margin-bottom: 2rem;
    align-self: flex-start;
}
.imageLeft
{
    grid-area: imageLeft;
    display: flex;
    align-content: center;
    align-items: stretch;
    margin: 5rem 2rem 5rem 10rem;
}
.textRight1
{
    margin: 5rem 10rem 5rem 2rem;
    grid-area: textRight1;
}
.textRight1 div
{    
    display: flex;
    flex-direction: column;
}
.textRight1 p
{
    color: #101a31;
    margin: 0;
}
.textRight1 h2
{
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    align-self: flex-start;
}
.imageLeft1
{
    grid-area: imageLeft1;
    display: flex;
    align-content: center;
    align-items: stretch;
    margin: 5rem 2rem 5rem 10rem;
}
.longBox
{
    padding: 15rem 10rem 15rem 10rem;
    grid-area: longBox;
    font-size: 3rem;
    color: #c2c2c2;
    display: flex;
    background-color: #101a31;
    text-align: center;
}
.longBox1
{
    padding: 15rem 10rem 15rem 10rem;
    grid-area: longBox1;
    color: #101a31;
    display: flex;
    background-color: #a3a3a3;
    text-align: center;
}
.longBox1 span
{
    font-size: 2.5rem;
}
.samarbeidsPartnere
{
    text-align: center;
    grid-area: partnere;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 10rem 5rem 10rem;
}
.samarbeidsPartnere h1
{
    font-size: 4rem;
}
.partnere
{   
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.partnere img
{
    width: 10rem;
    margin: 1rem;
    filter: grayscale(100%);
    transition: filter 200ms linear;
}
.partnere img:hover
{
    filter: grayscale(0%);
    // transform: scale(1.05, 1.05);
}
.row5
{
    grid-area: row5;
    background-color: rgb(241, 181, 106);
    height: 15rem;
}
.row6
{
    grid-area: row6; 
    background-color: rgb(73, 49, 20);
    height: 15rem;
}
.row7
{
    grid-area: row7;
    background-color: rgb(255, 204, 143);
    height: 15rem;
}