---
---

@charset "UTF-8";

.mainDiv
{
    padding: 5rem 25rem 5rem 25rem;
}
a
{
    color: #ff8400;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
hr
{
    clear: both;
}
iframe
{
    float: left;
    margin: 3rem 3rem 3rem 0;
}
h3
{
    margin: 4rem 0 0 0;
}



@media screen and (max-width: 1024px)
{
    .mainDiv
    {
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    p 
    {
        padding: 0 2rem 0 2rem;
    }
    h3, h1
    {
        padding: 0 2rem 0 2rem;
    }
    iframe
    {
        width: 100vw;        
    }
}
