---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/about.css">
</head>

<div style="display: flex;">
    <h1 id="omOss" style="margin: auto; padding: 5rem 0 0 0;">Om oss</h1>
</div>
<div class="aboutPage">
    <div class="main">
        {{content}}
    </div>

    <div class="grid">

        {% assign organisert = site.posts | where:"title","Hvordan vi er organisert" %}
        <div class="textLeft">
            <a id="linkDark" href="{{site.baseurl}}/{{organisert[0].url}}">
                <div>
                    <h2>{{organisert[0].title}}</h2>
                    <p>{{organisert[0].description}}</p>
                </div>
            </a>
        </div>
        <div class="imageRight">
            <a href="{{site.baseurl}}/{{organisert[0].url}}">
                <img src="{{site.baseurl}}/{{organisert[0].image}}" />
            </a>
        </div>
        {% assign verdier = site.posts | where:"title","Våre verdier" %}
        <div class="textRight">
            <a id="linkDark" href="{{site.baseurl}}/{{verdier[0].url}}">
                <div>
                    <h2>{{verdier[0].title}}</h2>
                    <p>{{verdier[0].description}}</p>
                </div>
            </a>
        </div>
        <div class="imageLeft">
            <a href="{{site.baseurl}}/{{verdier[0].url}}">
                <img src="{{site.baseurl}}/{{verdier[0].image}}" />
            </a>
        </div>
    </div>

    <div class="box">
        <p style="font-style: italic; color: fff">
            <i class="fas fa-quote-left" style="margin: 0 0 5rem 0;"></i></br>
            If a child can't learn the way we teach, maybe we should teach the way they learn </br></br> - Ignicio
            Estrada
        </p>
    </div>

    <div class="samarbeidsPartnere">
        <h1 id="partnere">
            Samarbeidspartnere
        </h1>
        <div class="partnere">
            {% for partner in site.data.partnere %}
            <a title="{{partner.name}}" href="{{partner.url}}">
                <img src="{{partner.imgUrl}}">
            </a>
            {% endfor %}
        </div>
    </div>
</div>
