<head>
    <link rel="stylesheet" type="text/css" href="assets/main.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>
<!--<a id="one" href="/sok.html" {% if page.url=="/sok.html" %} class="active" {% endif %}>Søk!</a>-->

<body>
    <div class="page">

        <div class="header bgi tint">
            <div class="logo">
                <img src="assets/images/GetAcademy2_4_2_blue.png" style="width: 15rem; margin: 0.5rem;" />
            </div>

            {% for p in site.html_pages %}
            <a class="Links" id="link" href="getacademy.no/{{ p.url }}" {% if page.url=="{{ p.url }} " %} class="active" {% endif %}>
                {{ p.title }}
            </a>
            {% endfor %}

        </div>

        <div class="mainContent">
            {{ content }}
        </div>

        <div class="footer">
            {{date: "%d %m %Y"}}
            {{page.date}}
        </div>

    </div>
</body>
