---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/folk.css">
</head>

<div style="display: flex; margin: 5rem 0 0 0;">
    <div style="margin: auto; display: flex; flex-direction: column;">
        <h1>Folk</h1>
        <p id="hvem">Hvem er vi? Team med konsulenter. 
            Har alltid studenter hos oss. kunder på besøk.
        samarbeidsbedrifter. kjerneteam som står for utvikling av virksomheten:</p>
        <div class="ansatte">
            <div>
                <img src="{{site.baseurl}}/assets/images/geir.jpeg" />
                <p>
                    <h3>Geir Sollid</h3>
                    <p id="hva">Lærer i <br />
                    nøkkelkompetanser</p> <br />
                    geir@getacademy.no<br />
                    926 21 638<br />
                    <p id="discord"><i class="fab fa-discord"></i> Geir#4082</p>
                </p>
            </div>
            <div>
                <img src="{{site.baseurl}}/assets/images/eskil.jpg" />
                <p>
                    <h3>Eskil Domben</h3>
                    <p id="hva">Daglig leder og lærer i<br />
                    nøkkelkompetanser</p><br /> 
                    eskil@getacademy.no<br />
                    454 85 922<br />
                    <p id="discord"><i class="fab fa-discord"></i> Eskil#6979</p>
                </p>
            </div>
            <div>
                <img src="{{site.baseurl}}/assets/images/terje.jpg" />
                <p>
                    <h3>Terje Kolderup</h3>
                    <p id="hva">IT-lærer</p><br /> 
                    <br />
                    terje@getacademy.no<br />
                    952 28 064<br />
                    <p id="discord"><i class="fab fa-discord"></i> Terje#0422</p>
                </p>
            </div>
            <div>
                <img src="{{site.baseurl}}/assets/images/ida.jpg" />
                <p>
                    <h3>Ida Husjord</h3>
                    <p id="hva">UX-designer</p><br />
                    <br />
                    ida@getacademy.no<br />
                    911 56 654<br />
                    <p id="discord"><i class="fab fa-discord"></i> idahusjord#7242</p>
                </p>
            </div>
        </div>

        <div class="box">
        </div>

        <div class="grid">
            {% assign konsulent = site.pages | where:"title","Konsulentbyrå" %}
            <div class="textLeft">
                <a id="linkDark" href="{{konsulent[0].url}}">
                    <div>
                        <h2>{{konsulent[0].title}}</h2>
                        <p>{{konsulent[0].description}}</p>
                    </div>
                </a>
            </div>
            <div class="imageRight">
                <a href="{{konsulent[0].url}}">
                    <img src="{{site.baseurl}}/{{konsulent[0].image}}" />
                </a>
            </div>
            {% assign studenter = site.posts | where:"title","Studenter" %}
            <div class="textRight">
                <a id="linkDark" href="{{studenter[0].url}}">
                    <div>
                        <h2>{{studenter[0].title}}</h2>
                        <p>{{studenter[0].description}}</p>
                    </div>
                </a>
            </div>
            <div class="imageLeft">
                <a href="{{studenter[0].url}}">
                    <img  src="{{site.baseurl}}/{{studenter[0].image}}" />
                </a>
            </div>
            <!-- {% assign samarbeid = site.posts | where:"title","Samarbeidspartnere" %} -->
            <div class="textLeft1">
                <a id="linkDark" href="{{site.baseurl}}/3about.html#partnere">
                    <div>
                        <h2>Samarbeidspartnere</h2>
                        <p>Samarbeid er viktig for oss, samarbeid med næringsliv, offentlige, kunder og venner.
                             Inviterer også ulike folk til gjesteforelesninger. Lyst til å samarbeide med oss?</p>
                    </div>
                </a>
            </div>
            <div class="imageRight1">
                <a href="{{site.baseurl}}/3about.html#partnere">
                    <img  src="{{site.baseurl}}/assets/images/office.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>