---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/home.css">
</head>

<div class="homePageGrid">

    {% assign sorted-posts-other = site.posts | where:"categories","other" %}
    <div class="textLeft">
        <a href="{{sorted-posts-other[0].url}}" style="color: #101a31; margin: 0;" id="linkDark">
            <div>
                <h2>{{sorted-posts-other[0].title}}</h2>
                <p>{{sorted-posts-other[0].description}} <br>
                    <br></p>
            </div>
        </a>
    </div>
    <div class="imageRight">
        <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{site.posts[3].image}}" />
    </div>

    <a href="{{site.baseurl}}/1skole.html">
        <div class="sKButton skole">
            <a id="linkLight" style="margin: auto; color:white; font-size: 50px;" href="{{site.baseurl}}/1skole.html">
                <span>
                    Skole
                </span>
            </a>
        </div>
    </a>
    <a href="{{site.baseurl}}/2konsulentbyraa.html">
        <div class="sKButton konsulent">
            <a id="linkLight" style="margin: auto; color: white; font-size: 50px;" href="{{site.baseurl}}/2konsulentbyraa.html">
                <span>
                    Konsulentbyrå
                </span>
            </a>
        </div>
    </a>

    <div class="longBox">
        <span style="margin: auto;">
            Reelle prosjekter for reelle kunder skaper reel læring
        </span>
    </div>

    <div class="news">
        <h1 id="title">
            Nytt fra GET Academy
        </h1>
        <div class="newsBoxes">
            {% assign sorted-posts = site.posts | where:"categories","nyheter" %}
            {% for post in sorted-posts limit:3 %}
            <a id="linkDark" href="{{site.baseurl}}{{post.url}}" style="text-decoration: none; margin: 1rem; text-transform: none;">
                    <div class="newsBox">
                        <div class="innerNewsBox">
                            <div style="padding: 0; margin: 0;">
                                <div class="newsImage" style="background-image: url({{site.baseurl}}{{post.image}});">
                                </div>
                                <h2>
                                    {{post.title}}
                                </h2>
                                <p style="color: #101a31; font-size: 1rem; font-style: italic;">{{post.date | date:"%d.%m.%Y"}}</p>                                
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="besøk">
        <p>
            Vi elsker besøk! Et eller annet hyggelig om at de bare må komme innom og ta en kopp kaffe.
        </p>
    </div>

</div>