---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/home.css">
</head>

<div class="homePageGrid">

    {% assign sorted-posts-other = site.posts | where:"categories","other" %}
    <div class="textImage">
        <div class="textLeft">
            <a href="{{site.baseurl}}/{{sorted-posts-other[0].url}}" style="color: #101a31; margin: 0;" id="linkDark1">
                <div>
                    <h2>
                        {{sorted-posts-other[0].title}}
                    </h2>
                    <p>
                        {{sorted-posts-other[0].description}}
                    </p>
                </div>
            </a>
        </div>
        <div class="imageRight">
            <a href="{{site.baseurl}}/{{sorted-posts-other[0].url}}">
                <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{sorted-posts-other[0].image}}" />
            </a>
        </div>
    </div>


    <h1 style="grid-area: hvaViGjør; margin: auto; padding: 5rem 0 0 0;">Hva vi gjør</h1>
    <div style="grid-area: skoleBox;">
        <a href="{{site.baseurl}}/Skole.html">
            <div class="sKButton skole">
                <a id="linkLight" style="margin: auto; color:white; font-size: 40px;" href="{{site.baseurl}}/Skole.html">
                    <span>
                        IT-Skole
                    </span>
                </a>
            </div>
        </a>
        <div class="xtraSkole">
            <h4>IT-Skole</h4>
            <p>1,5 års IT-undervisning for deg mellom 20-30</p>
        </div>
    </div>
    <div style="grid-area: konsulentBox;">
        <a href="{{site.baseurl}}/Konsulentselskap.html">
            <div class="sKButton konsulent">
                <a id="linkLight" style="margin: auto; color: white; font-size: 40px;" href="{{site.baseurl}}/Konsulentselskap.html">
                    <span>
                        Konsulentselskap
                    </span>
                </a>
            </div>
        </a>
        <div class="xtraKonsulent">
            <h4>Konsulentselskap</h4>
            <p>Leverer design, utvikling og rådgiving for digitale flater</p>
        </div>
    </div>

    <div class="longBox">
        <span style="margin: auto;">
            Reelle prosjekter for reelle kunder skaper reel læring
        </span>
    </div>

    <div class="news">
        <!-- <i style="margin: auto; padding: 0; color: #ff8400; font-size: 5rem;" class="far fa-newspaper"></i> <br> -->
        <h1 id="title">
            Nytt fra GET Academy
        </h1>
        <div class="newsBoxes">
            {% assign sorted-posts = site.posts | where:"categories","nyheter" %}
            {% for post in sorted-posts limit:3 %}
            <a id="linkDark1" href="{{site.baseurl}}/{{post.url}}" style="padding: 0; text-decoration: none; margin: 1rem; text-transform: none;">
                <div class="newsBox">
                    <div class="innerNewsBox">
                        <div class="newsImage" style="background-image: url({{site.baseurl}}/{{post.image}});">
                        </div>
                        <p style="color: #101a31; font-size: 0.8rem; font-style: italic;">
                            {{post.date | date:"%d.%m.%Y"}}
                        </p>
                        <h2>
                            {{post.title}}
                        </h2>
                        <p>
                            {{post.description}}
                        </p>

                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <h3 style="margin: auto; padding: 5rem 0 0 0;">
            <a href="{{site.baseurl}}/Nyheter.html" id="linkDark2">
                Se fler nyheter
            </a>
        </h3>
    </div>
    <div class="besøk">
        <p>
            Er du nysgjerrig på hvem vi er? Kom gjerne innom og ta en kaffe med oss.
        </p>
    </div>

</div>
