---
layout: default
---

<div style="display: flex; flex-direction: column; padding: 5rem 10rem 5rem 10rem; line-height: 2.2rem;">
    <div>
        <h1>IT-Utvikling</h1>
        Fokus er på grunnleggende objektorientert programmering i C# og Javascript. ​
    </div>
    <div style="display: flex; flex-direction: column; flex-wrap: wrap;">
        <div style="display: flex; flex-direction: row; margin: auto;">
            {{content}}
        </div>
        <div>
            <img style="margin-top: 2rem;" src="{{site.baseurl}}/assets/images/logoer.png">
        </div>
    </div>
</div>