---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/konsulentbyraa.css">
</head>

<div class="grid">

    <div class="nyheter">
        <div>
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, vix ne graeci postulant elaboraret,
                mei ut viris blandit sadipscing.
                Ne pro hinc evertitur deseruisse, ad usu incorrupte dissentiet.
            </p>
        </div>
        <div>
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, vix ne graeci postulant elaboraret,
                mei ut viris blandit sadipscing.
                Ne pro hinc evertitur deseruisse, ad usu incorrupte dissentiet.
            </p>
        </div>
        <div>
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, vix ne graeci postulant elaboraret,
                mei ut viris blandit sadipscing.
                Ne pro hinc evertitur deseruisse, ad usu incorrupte dissentiet.
            </p>
        </div>
    </div>

    <div class="empty">
        
    </div>

    <div class="prosjekter">
        <h1>Våre prosjekter</h1>
        <div>
            <p>Prosjekt1</p>
            <p>Prosjekt2</p>
            <p>Prosjekt3</p>
            <p>Prosjekt4</p>
        </div>
    </div>

    <div class="textbox">
        <p>Lorem ipsum and some stuff about that</p>
    </div>

</div>