---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/konsulentbyraa.css">
</head>

<div class="grid">

    <div class="nyheter">
        <div>
            <h2>Jeg</h2>
            <p>
                Lorem ipsum dolor sit amet, vix ne graeci postulant elaboraret,
                mei ut viris blandit sadipscing.
                Ne pro hinc evertitur deseruisse, ad usu incorrupte dissentiet.
            </p>
        </div>
        <div>
            <h2>vet</h2>
            <p>
                Lorem ipsum dolor sit amet, vix ne graeci postulant elaboraret,
                mei ut viris blandit sadipscing.
                Ne pro hinc evertitur deseruisse, ad usu incorrupte dissentiet.
            </p>
        </div>
        <div>
            <h2>ikke hva som skal være her</h2>
            <p>
                Lorem ipsum dolor sit amet, vix ne graeci postulant elaboraret,
                mei ut viris blandit sadipscing.
                Ne pro hinc evertitur deseruisse, ad usu incorrupte dissentiet.
            </p>
        </div>
    </div>

    <div class="empty">

    </div>

    <div class="prosjekter">
        <h1>Våre prosjekter</h1>
        <div class="prosjekterContainer">
            {% assign sorted-posts = site.posts | where:"categories","prosjekter" %}
            {% for post in sorted-posts limit:currentSize %}
            <a id="link" href="{{site.baseurl}}/{{post.url}}" style="text-decoration: none; margin: 1rem;">
                <div class="prosjektBox">
                    <div class="innerProsjektBox">
                        <div style="padding: 0; margin: 0;">
                            <div class="prosjektImage" style="background-image: url({{site.baseurl}}/{{post.image}});">
                            </div>
                            <h2>
                                {{post.title}}
                            </h2>
                            <p style="font-size: 1.5rem;">
                                {{post.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="textbox">
        <p>Lorem ipsum and some stuff about that</p>
    </div>

</div>
