---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/konsulentbyraa.css">
</head>

<div class="grid">

    <h1 style="margin: auto;">Vi leverer digitale tjenester</h1>
    <div class="tjenester">
        <div>
            <h2>Utvikling</h2>
            <p>
                Systemutvikling, integrasjon, systemarkitektur og prosjektledelse
            </p>
        </div>
        <div>
            <h2>UX-design</h2>
            <p>
                Konseptutvikling, interaksjonsdesign og tjenestedesign
            </p>
        </div>
        <div>
            <h2>Rådgiving</h2>
            <p>
                Foredrag, workshops, rådgiving i valg av teknisk plattform og løsninger
            </p>
        </div>
    </div>

    <div class="empty">
        {{content}}
    </div>

    <div class="prosjekter">
        <h1>Våre prosjekter</h1>
        <div class="prosjekterContainer">
            {% assign sorted-posts = site.posts | where:"categories","prosjekter" %}
            {% for post in sorted-posts limit:currentSize %}
            <a id="link" href="{{site.baseurl}}{{post.url}}" style="text-decoration: none; margin: 1rem;">
                <div class="prosjektBox">
                    <div class="innerProsjektBox">
                        <div style="padding: 0; margin: 0;">
                            <div class="prosjektImage" style="background-image: url({{site.baseurl}}{{post.image}});">
                            </div>
                            <h2>
                                {{post.title}}
                            </h2>
                            <p style="font-size: 1.5rem;">
                                {{post.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="textbox">
        <p>En quote eller noe tekst her</p>
    </div>

</div>