---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/kontakt.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<div class="kontaktGrid">

    <div class="skole">
        <h1 style="margin: 0; text-align: center;">Skole</h1>
    </div>

    <div class="konsulent">
        <h1 style="margin: 0;">Konsulentbyrå</h1>
    </div>

    <div class="eskil">
        <img src="{{site.baseurl}}/assets/images/eskil.jpg" />
    </div>
    <div class="eD">
        <p>
            <h3>Eskil Domben</h3>
            eskil@getacademy.no<br />
            454 85 922<br />
            <p style="color: rgb(80, 122, 214)"><i class="fab fa-discord"></i> Eskil#6979</p>
        </p>
    </div>

    <div class="ida">
        <img src="{{site.baseurl}}/assets/images/ida.jpg" />
    </div>
    <div class="iD">
        <p>
            <h3>Ida Husjord</h3>
            ida@getacademy.no <br />
            911 56 654 <br />
            <p style="color: rgb(80, 122, 214)"><i class="fab fa-discord"></i> idahusjord#7242</p>
        </p>
    </div>