---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/kontakt.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481.57428966117925!2d10.027717743117554!3d59.05259144021575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4646e9bd0b1d0215%3A0x3e4132693d6dc56e!2sTorget+10A%2C+3256+Larvik!5e0!3m2!1sno!2sno!4v1545214633628"
     height="500" frameborder="0" style="border:0;" allowfullscreen></iframe>

<div class="kontaktGrid">

    <div class="skole">
        <h2 style="margin: 0;">Skole</h2>
    </div>

    <div class="konsulent">
        <h2 style="margin: 0;">Konsulentbyrå</h2>
    </div>

    <div class="adresse">
        <h2 style="margin: 0;">Besøksadresse</h2>
    </div>

    <div class="eD">
        <p>
            <h3>Eskil Domben</h3>
            eskil@getacademy.no<br />
            +47 454 85 922<br />
            <p style="color: rgb(80, 122, 214)"><i class="fab fa-discord"></i> Eskil#6979</p>
        </p>
    </div>

    <div class="iD">
        <p>
            <h3>Ida Husjord</h3>
            ida@getacademy.no <br />
            +47 911 56 654 <br />
            <p style="color: rgb(80, 122, 214)"><i class="fab fa-discord"></i> idahusjord#7242</p>
        </p>
    </div>

    <div class="aD">
        <p>
            Torget 10 </br>
            3256</br>
            Larvik
        </p>
    </div>