---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/nyheter.css">
</head>

<div class="nyheterGrid">

    <!-- {% assign psize = site.posts | size%}
    {% assign currentSize = 3 %} -->
    {% assign sorted-posts = site.posts | where:"categories","nyheter" %}
    {% for post in sorted-posts %}
    <a id="linkDark" href="{{site.baseurl}}/{{post.url}}" style="text-decoration: none; margin: 1rem; text-transform: none;">
        <div class="newsBox">
            <div class="innerNewsBox">
                <div style="padding: 0; margin: 0;">
                    <div class="newsImage" style="background-image: url({{site.baseurl}}/{{post.image}});">
                    </div>
                    <h2>
                        {{post.title}}
                    </h2>
                    <p style="color: #101a31; font-size: 1rem; font-style: italic;">{{post.date | date:"%d.%m.%Y"}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

    <!--{% if psize > currentSize %}
    <button>
        VIS MER {{currentSize}}        
    </button>
    {% endif %} -->

</div>
