---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/nyheter.css">
</head>

<div id="title" style="display: flex;">
    <h1>Nytt fra GET Academy</h1>
</div>
<div class="nyheterGrid">
    <div id="nyhetContainer">
        <!-- {% assign psize = site.posts | size%}
        {% assign currentSize = 3 %} -->
        {% assign sorted-posts = site.posts | where:"categories","nyheter" %}
        {% for post in sorted-posts %}
        <a id="linkDark1" href="{{site.baseurl}}{{post.url}}" style="text-transform: none;">
            <div class="newsBox">
                <div class="innerNewsBox">
                    <div class="newsImage" style="background-image: url({{site.baseurl}}{{post.image}});">
                    </div>
                    <p style="color: #101a31; font-size: 0.8rem; font-style: italic;">
                        {{post.date | date:"%d.%m.%Y"}}
                    </p>
                    <h2>
                        {{post.title}}
                    </h2>
                    <p>
                        {{post.description}}
                    </p>

                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <!--{% if psize > currentSize %}
    <button>
        VIS MER {{currentSize}}        
    </button>
    {% endif %} -->

</div>