---
layout: default
---

<head>
    <link href="https://www.scribd.com/document/386413924/studiebeskrivelse-for-web-get-it#page=1">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/skole.css">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">     -->
</head>


<div class="skolePageGrid">
    {% assign aarsUtdanning = site.posts | where:"title","1,5 års utdanning" %}
    <div class="textLeft">
        <a id="linkDark" href="{{aarsUtdanning[0].url}}">
            <div>
                <h2>{{aarsUtdanning[0].title}}</h2>
                <p>{{aarsUtdanning[0].description}}</p>
            </div>
        </a>
    </div>
    <div class="imageRight">
        <a href="{{aarsUtdanning[0].url}}">
            <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{aarsUtdanning[0].image}}" />
        </a>
    </div>

    {% assign studielop = site.posts | where:"title","Unikt studieløp" %}
    <div class="textRight">
        <a id="linkDark" href="{{site.baseurl}}/studieprogram.html">
            <div>
                <h2>{{studielop[0].title}}</h2>
                <p>{{studielop[0].description}}</p>
            </div>
        </a>
    </div>
    <div class="imageLeft">
        <a href="{{site.baseurl}}/studieprogram.html">
            <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{studielop[0].image}}"/>
        </a>
    </div>

    <div class="longBox">
        <span style="margin: auto;">
            Reelle prosjekter for reelle kunder skaper reel læring
        </span>
    </div>

    <!-- <div class="samarbeidsPartnere">
        <h1>
            Samarbeidspartnere
        </h1>
        <div class="partnere">
            {% for partner in site.data.partnere %}
            <a title="{{partner.name}}" href="{{partner.url}}">
                <img src="{{partner.imgUrl}}">
            </a>
            {% endfor %}
        </div>
    </div> -->

    {% assign karriere = site.posts | where:"title","Karrieremuligheter" %}
    <div class="textLeft1">
        <a id="linkDark" href="{{sorted-news[0].url}}">
            <div>
                <h2>{{karriere[0].title}}</h2>
                <p>{{karriere[0].description}}</p>
            </div>
        </a>
    </div>
    <div class="imageRight1">
        <a href="{{karriere[0].url}}">
            <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{karriere[0].image}}" />
        </a>
    </div>

    <div class="sitat">
        <div class="sitatContent">
            <i class="fas fa-quote-left" style="margin: 0 0 5rem 0;"></i>
            <div class="mySlides w3-animate-right" style="margin: auto; font-style: italic;">
                Fantastisk læringsmiljø. føler meg trygg, gode verdier og inkluderende miljø.
                fått troen på meg selv og lært utrolig mye. fått meg jobb!  </br></br>
                - tidligere student, ansatt i ABAX
            </div>
            <div class="mySlides w3-animate-right" style="margin: auto; font-style: italic;">
                Arbeidslaget har meget høy arbeidsmoral noe vi har vært positivt overrasket over. 
                De holder et høyt tempo gjennom dagen og gjør en imponerende jobb. 
                Det ser også ut som om de har det gøy på jobb og det er moro for meg å jobbe med dem.
                </br>
                - Comtech
            </div>
            <div class="mySlides w3-animate-right" style="margin: auto; font-style: italic;">
                en slide
            </div>
        </div>
        <div class="dots">
            <a id="linkLight" style="font-size: 1rem; background-color: #101a3100; 
            border: none; color: white; cursor: pointer;" onclick="plusDivs(-1)">Forrige</a>

            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>

            <a id="linkLight" style="font-size: 1rem; background-color: #101a3100; 
            border: none; color: white; cursor: pointer;" onclick="plusDivs(1)">Neste</a>
        </div>
    </div>
    {% assign praktisk = site.pages | where:"title","Praktisk info" %}
    <div class="textRight1">
        <a id="linkDark" href="{{site.baseurl}}/praktiskInfo.html">
            <div>
                <h2>{{praktisk[0].title}}</h2>
                <p>{{praktisk[0].description}}</p>
            </div>
        </a>
    </div>
    <div class="imageLeft1">
        <a href="{{site.baseurl}}/praktiskInfo.html">
            <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{praktisk[0].image}}" />
        </a>
    </div>
    {% assign forDeg = site.posts | where:"title","Koding noe for deg?" %}
    <div class="textLeft2">
        <a id="linkDark" href="http://localhost:4000/skole/2018/12/03/gratismateriale.html">
            <div>
                <h2>{{forDeg[0].title}}</h2>
                <p>{{forDeg[0].description}}</p>
            </div>
        </a>
    </div>
    <div class="imageRight2">
        <a href="http://localhost:4000/skole/2018/12/03/gratismateriale.html">
            <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{forDeg[0].image}}" />
        </a>
    </div>
</div>


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>
