---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/skole.css">
</head>

{% assign sorted-news = site.posts | where:"categories","nyheter" %}

<div class="skolePageGrid">

    {% if sorted-news[0] %}
    <div class="textLeft">
        <a id="linkDark" href="{{sorted-news[0].url}}">
            <div>
                <h2>{{sorted-news[0].title}}</h2>
                {{sorted-news[0].description}}
            </div>
        </a>
    </div>
    <div class="imageRight">
        <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{sorted-news[0].image}}" />
    </div>
    {% endif %}


    {% if sorted-news[1] %}
    <div class="textRight">
        <a id="linkDark" href="{{sorted-news[1].url}}">
            <div>
                <h2>{{sorted-news[1].title}}</h2>
                {{sorted-news[1].description}}
            </div>
        </a>
    </div>
    <div class="imageLeft">
        <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{sorted-news[1].image}}" />
    </div>
    {% endif %}

    <div class="longBox">
        <span style="margin: auto;">
            Reelle prosjekter for reelle kunder skaper reel læring
        </span>
    </div>

    <div class="samarbeidsPartnere">
        <h1>
            Samarbeidspartnere
        </h1>
        <div class="partnere">
            {% for partner in site.data.partnere %}
            <a title="{{partner.name}}" href="{{partner.url}}"><img src="{{partner.imgUrl}}"></a>
            {% endfor %}
        </div>
    </div>

    {% if sorted-news[2] %}
    <div class="textLeft1">
        <a id="linkDark" href="{{sorted-news[2].url}}">
            <div>
                <h2>{{sorted-news[2].title}}</h2>
                {{sorted-news[2].description}}
            </div>
        </a>
    </div>
    <div class="imageRight1">
        <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{sorted-news[2].image}}" />
    </div>
    {% endif %}

    {% if sorted-news[3] %}
    <div class="textRight1">
        <a id="linkDark" href="{{sorted-news[3].url}}">
            <div>
                <h2>{{sorted-news[3].title}}</h2>
                {{sorted-news[3].description}}
            </div>
        </a>
    </div>
    <div class="imageLeft1">
        <img style="width: 100%; margin: auto;" src="{{site.baseurl}}/{{sorted-news[3].image}}" />
    </div>
    {% endif %}

    <div class="longBox1">
        <a id="linkLight" href="{{site.baseurl}}/studieprogram.html" style="margin: auto; font-size: 3rem; text-align: center;">
            <span style="margin: auto;">
                Lær om vårt unike studieprogram
            </span>
        </a>
    </div>

</div>
